.header{
    display: flex;
    background-color: #1f2937;
    color:#F9FAF8;
    justify-content: space-around;
    margin: 0;
    padding: 8px;
    font-size: 30px;
  }
  
  .left,
  .right{
    display: flex;
  }
  .right{
    padding-top: 10px;
  }
  
  ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family: 'Roboto',Arial;
  }
  
  .header a{
    text-decoration: none;
    color:white;
  }
  

  .header .right{
    font-size: 18px;
    color: #E5E7EB;
}
  hr{
    margin:0;
    padding:0;
  }


  /* FOOTER section */

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f2937;
    color:#E5E7EB;
    font-size: 26px;
    flex-direction: column;
    gap:10px;
  }
  
  .footer .logo{
    display: flex;
    gap: 10px;
  }