*{
    /* border: 1px solid red; */
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
button{
    height:50px;
    width: 75px;
    border: 1px solid white;
    color: white;
    background-color: #1f2937;
    border-radius: 8px;
    transition-duration: 0.4s;
    font-size: 12px;
}


input[type=text], select{
width: 100%;
padding: 10px;
margin:10px;
border: 1px solid #1f291f; 
border-radius: 12px; 
box-sizing: border-box; 
resize: vertical 
    }