/* * {
    border: 1px solid red;
  } */

  .header{
    display: flex;
    background-color: #1f2937;
    color:#F9FAF8;
    justify-content: space-around;
    margin: 0;
    padding: 8px;
    font-size: 30px;
  }
  
  .right{
    padding-top: 10px;
  }
  
  ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
  
  .left,
  .right{
    display: flex;
  }
  
  
  body{
    font-family: 'Roboto',Arial;
  }
  
  .header a{
    text-decoration: none;
    color:white;
  }
  
  hr{
    margin:0;
    padding:0;
  }
  
  
  
  /* HERO section */
  
  .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    gap: 50px;
  }
  
  .hero .text{
    display: flex;
    gap : 25px;
    flex-direction: column;
  }
  
  .hero h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin:0;
  }
  
  .hero .subtext,
  .header .right{
      font-size: 18px;
      color: #E5E7EB;
  }
  
  .hero .image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
  }
  
  .hero .image-container img{
    width: 500px;
    height: 250px;
    object-fit: cover;
  }
  
  
  .hero .button {
    background-color: #3882F6;
    font-size: 18px;
    color:#E5E7EB;
    padding: 10px;
    width: 150px;
    border-radius: 8px;
  
    /* making hoverable */
    transition-duration: 0.4s;
  }
  
  .hero .button:hover{
    background-color: white;
    color: black;
  }
  
  .hero .text{
    width: 450px;
  }
  
  
  /* Information section */
  
  
  .information-header{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin: 50px;
  }
  
  .information-content{
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .information-content .image-container img,
  .information-content .element .image-info{
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
  
  .image-info{
    font-size: 20px;
  }
  
  .information-content .image-container img:hover{
    opacity: 0.5;
  }
  .information .element{
    display: flex;
    flex-direction: column;
  }
  
  .title-container{
    text-align: center;
    font-size: 18px;
  }
  
  /* QUOTE SECTION  */
  
  .quote{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .quote-information{
    color:#1f2937;
    font-size: 36px;
    margin:50px;
    width:1000px;
    font-weight: 100;
  }
  
  .quote .quote-speaker{
    text-align: right;
    font-weight: 1000;
    font-size: 25px;
  }
  
  
  /* SIGNUP SECTION */
  
  .signup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
    padding: 50px;
    background-color: #3882F6;
  }
  
  .signup .left{
    display: flex;
    flex-direction: column;
  
  }
  
  .signup .left .title{
    font-size: 40px;
    text-align: left;
    color: #F9FAF8;
  }
  
  .signup .left .subtitle{
    font-size:25px;
    color:#E5E7EB;
  }
  
  .signup button{
    height:50px;
    width: 100px;
    border: 1px solid white;
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    transition-duration: 0.4s;
    font-size: 16px;
  }
  
  .signup button:hover{
    background-color: white;
    color: black;
  }
  
  /* FOOTER section */
  
  .footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f2937;
    color:#E5E7EB;
    font-size: 26px;
    flex-direction: column;
    gap:10px;
  }
  
  .footer .logo{
    display: flex;
    gap: 10px;
  }


